  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


  /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');*/
   :root{
     --font:'Poppins', sans-serif;
   }
  
   *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     list-style: none;
   }

   body{
     height: 100%;
     width: 100vw;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
    
      }
   .navbar{
     position: fixed;
     width: 100%;
     height: 65px;
     background: #fff;
     color: black;
     top: 0;
     border-bottom:.00001rem solid #000 ;
    display: flex;
     gap: 10px;
  
   }
   
   
     .intro{
       margin-top: 8rem;
    padding: 0 20px;
    text-align: center;
   height: 200px;
   width: 100%;
   margin-bottom: 75px;
    }
    .intro h1{
      font-family:var(--font);
   font-weight: 400;   
   margin-bottom: 24px;
   
    }
    .intro p{
      font-size: 18px;
      font-family:var(--font);
    }
    .card-1{
      display: flex;
      gap: 20px;
      background: #f2f2f2fa;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     padding: 53px 25px;
      margin: 0 10px 45px 10px;
      text-align: center;
      border-radius: 20px;
     
    }
    .card-1 #head{
      margin-bottom: 25px;
      margin-top: 30px;
      font-size: 20px;
      font-family:var(--font);
      font-weight: 500;
    }
    .card-1 h3{
      font-family:var(--font);
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 12px;
    }
    .card-1 h4{
      font-size: 18px;
      font-family:var(--font);
      font-weight: 400;
    }
    .card-1 .content img{
      margin-bottom: 20px;
    }
    .card-2{
      text-align: center;
      padding: 0 15px;
      display: flex;
      flex-direction: column;
    }
    .card-2 img{
        width: 90vw;
      margin-bottom: 40px;
    }
    .card-2 .content h1{
      margin-bottom: 45px;
      font-family:var(--font);
      font-weight: 400;
      font-size: 28px;
    }
    .card-2 .content img{
      width: 90vw;
      margin-bottom: 40px;
    }
      .card-2 .content h5{
        margin-bottom:25px ;
    font-family:var(--font);
      font-weight: 500;
      letter-spacing: .1em;
      }
    .card-2 .content h2{
      font-size: 22px;
    font-family:var(--font);
      font-weight: 400;
      margin-bottom: 20px;
    } 
        .card-2 .content p{
          font-size: 18px;
      font-family:var(--font);
      font-weight: 400;
      margin-bottom:30px ;
        }
   .card-2 .content button{
     width: 135px;
     padding: 13px 21px;
     background: #2319ffc2;
      border-radius: 40px;
      border: none;
      margin-bottom:50px ;
     
    /* display: flex;
    align-items: center;
    justify-content: center; */
   }
   .card-2 .content button a{
     text-decoration: none;
     font-family:var(--font);
      font-weight: 500;
      color:#fff ;
   }
   .card-2 .content img{
     border-radius: 30px;
   }
   
.card-2 .content #google_home{
   width: 170px;
 }
   .card-2 .content #learn {
     margin-left: 20px;
   }
   
   .lab_section{
     padding: 20px;
     text-align: center;
     
   }
   .lab_section .img_1,.img_2, .img_3{
     margin-bottom: 20px;
   }
   
   .lab_section img{
     width: 80vw;
      margin-bottom: 40px;}
   
  .lab_section h4{
    font-family:var(--font);
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 30px;
  } 
  .lab_section .img_1{
   background: url(unnamed-8.webp);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 height: 300px;
   width: 90vw;
   border-radius: 15px;
   padding: 15px;
  }
  .lab_section  #h1{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  }
  .lab_section .img_2{
   background: url(unnamed-lupe.webp);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 height: 300px;
   width: 90vw;
   border-radius: 15px;
   padding: 10px;
  }
    .lab_section .img_3{
   background: url(unnamed-geo.webp);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 height: 300px;
   width: 90vw;
   border-radius: 15px;
   padding: 10px;
  }
   footer {
  background-color: #f7f7f7;
  padding: 20px 5px;
  width: 100%;
  height: 300px;
  
}

.container {
  width: 100%;
  max-width:100vw;
  margin: 40px auto;
}
.container img{
  width: 90px;
  height: 30px;
}
footer ul{
  display: flex;
  gap: 10px;
  color: gray;
  
  
}
footer #ul1{
  margin-bottom: 20px;
}

footer ul li a {
  color: gray;
}


@media only screen and (min-width:910px){
  
}